/* BODY */
body {
	font-family: 'Open Sans', sans-serif;
}
body a {
	color: #571963 !important;
}
body a:hover {
	color: #a986af !important;
}

/* NAV */
nav a {
	color: white !important;
}
nav a:hover {
	background-color: black !important;
	color: white !important;
}
.top-bar-section a:hover {
	background-color: black !important;

}

/* MAIN */
h1, h2, h3, h4, h5, h6 {
	text-align: center !important;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	color: #571963 !important;
}
.main {
	font-family: 'Open Sans', sans-serif;
}
.about-tbp {
	text-align: center;
	padding: 0 5%;
}
.current-officers {
	width: 80%;
	margin: 0 auto;
}
.tbpLogo, .NULogo {
	height: 150px;
	padding: 5px 10px;
}
.logos {
	text-align: center;
}
/* ELIGIBLES */

/* CURRENT OFFICERS & ADVISORS THUMBNAILS */
.current-officers, .advisors {
	width: 80%;
	margin: 0 auto;
}
.panel p {
	text-align: center;
	font-size: 14px;
	margin: 1px 0;
}
.panel a {
	font-size: 20px;
}

/* PAST OFFICERS */
.pastOfficers h3, h5 {
	text-align: left;
}
.pastOfficers {
	width: 80%;
	margin: 0 auto;
}

/*MEMBER REQ*/
.memberReq h4 {
	text-align: left !important;
	color: #571963 !important;
}
.memberReq ul li {
	color: black !important;
	font-size: 16px !important;
}

/* MEMBERS */
.members-list h3 {
	text-align: left !important;
}
.members-list li {
	color: black !important;
}

/*ELIGIBLES*/
.eligibles h3 {
	text-align: left !important;
}

/* EVENTS */
.events h4 {
	color:#571963; 
}
.events p {
	text-align: center;
}

/*RESOURCES*/
.resources h3 {
	text-align: left !important;
}
.resources li {
	font-size: 14px !important;
}

/* CONTACT */

/* FOOTER */
.footer p, li {
	font-size: 12px !important;
	color: #571963 !important;
	font-family: 'Open Sans', sans-serif;
}
.footer-link {
	color: #571963 !important;
}
.footer-link:hover {
	color: #a986af !important;
}

/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
